@keyframes slide-up-fade-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-page h4 {
  display: none;
}

.contact-main-wrapper {
  background-image: url("../../public/static/images/Contact/bg-contact.png");
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -190px;
}

.contact-page {
  color: white;
  margin-top: 10px;
  text-align: center;
  width: 670px;
  animation: slide-up 1s ease-out forwards;
}

.contact-page h2 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  margin-top: 120px;
  margin-bottom: 70px;
}

.contact-page p {
  margin-top: 30px;
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 100px;
  margin-right: 150px;
}

.contact-item, .contact-item-two, .contact-item-three {
  text-align: center;
  color: white;
  justify-content: center;
  align-content: center;
  max-width: 90vw;
  opacity: 0; /* Initially hidden */
  animation: slide-up-fade-in 1s ease-out forwards;
}

.contact-item h3, .contact-item-two h3, .contact-item-three h3 {
  font-weight: 600;
  font-size: 20px;
  color: rgb(126, 126, 126);
}

.contact-footer-container {
  background-color: transparent;
  padding: 0px 20px;
  text-align: center;
  width: 100%;
  position: sticky;
  transform: translateY(10vh);
  bottom: 0;
}
.contact-item p, .contact-item-two p, .contact-item-three p {
  font-weight: 300;
  font-size: 20px;
  margin-top: 10px;
}

.contact-footer-container p {
  background-color: transparent;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 15px;
  color: white;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .contact-main-wrapper {
    margin-top: -14vh;
    padding-bottom: 230px;
  }
  .contact-page {
    width: 100%;
    margin-top: 400px;
    margin-bottom: 30px;
  }
  .contact-page h4 {
    display: block;
    margin-bottom: 20px;
    font-family: "Karla", "sans-serif";
    font-weight: 700;
    font-size: 17px;
    color: rgba(114, 114, 114, 1);
    text-align: center;
  }
  .contact-page h2 {
    font-size: 27px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .contact-page p {
    font-size: 18px;
    margin: 0 10px;
  }

  .contact-details {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 0;
    margin-bottom: 250px;
  }
  .contact-footer-container{
    position: absolute;
    bottom: 10px;
    background-color: transparent;
  }
  .contact-footer-container p {
    font-size: 12px;
  }
}
