.footer-container{
  background-color: transparent;
}

footer {
  display: block;
  margin: 0px auto 0px auto;
  background-color: transparent;
}

footer .copyright {
  color: #c5c5c5;
  width: 100%;
  z-index: 1000;
  font-family: "Prompt", sans-serif;
  margin-top: -50px;
}

footer .copyright p {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 15px;
  margin-bottom: 50px;
  color: #c5c5c5;
}