/* Home.css */
html {
  scroll-behavior: smooth;
  background-color: black;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-main-wrapper {
  position: relative;
  background-color: black;
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -210px;
  overflow: hidden;
}

.home-image-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  z-index: 1; /* Ensures the image stays in the background */
  opacity: 0; /* Initially hidden */
  animation: fade-in 1s ease-out forwards;
  animation-delay: 1.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-background-image{
  width: 100%;
  height: 120%;
  object-fit: cover;
  margin-top: 50px;

}


.home-page {
  color: white;
  text-align: center;
  width: 500px;
  opacity: 0; /* Initially hidden */
  animation: slide-up 1s ease-out forwards;
  animation-delay: 0s;
  z-index: 3; /* Ensures the content stays above the background image */
}

.home-page h2 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 42px;
}

.home-page p {
  margin-top: 30px;
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.home-page-two {
  color: white;
  text-align: center;
  width: 800px;
  opacity: 0; /* Initially hidden */
  animation: slide-up 1s ease-out forwards;
  animation-delay: 0.5s;
  z-index: 1; /* Ensures the content stays above the background image */
}

.home-page-two h2 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 44px;
}

.home-page-two p {
  margin-top: 30px;
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-size: 22px;
}

.home-page-three {
  color: #c5c5c5;
  text-align: center;
  margin-top: 80px;
  margin-bottom: -250px;
  padding-bottom: 100px;
  width: 300px;
  opacity: 0; /* Initially hidden */
  animation: slide-up 1s ease-out forwards;
  animation-delay: 0.5s;
  z-index: 1000;
}

.home-page-three p {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 15px;
  margin-bottom: 50px;
  color: #c5c5c5;
}

