html, body {
  scroll-behavior: smooth;
  background-color: transparent;
  overflow-x: hidden;
}

@keyframes slide-up-fade-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.insights-header h4 {
  display: none;
}

.insights-main-wrapper {
  overflow-y: hidden;
  background: linear-gradient(111deg, #0A0A0A 5.9%, #0A0A0A 97.91%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  min-height: 110vh;
  margin-top: -210px;
  padding-top: 250px;
}

.insights-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  width: 580px;
  animation: slide-up 1s ease-out forwards;
}

.insights-header h2 {
  align-items: center;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 0px;
}

.insights-header p {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-top: 20px;
}

.insights-content {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.insights-item, .insights-item-two, .insights-item-three {
  text-align: center;
  max-width: 300px;
  opacity: 0; /* Initially hidden */
  animation: slide-up-fade-in 1s ease-out forwards;
}

.insights-item img, .insights-item-two img, .insights-item-three img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.insights-item h3, .insights-item-two h3, .insights-item-three h3 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
}

.insights-item p, .insights-item-two p, .insights-item-three p {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-top: 10px;
}

.insights-footer-container .insights-copyright {
  color: #c5c5c5;
  width: 100%;
  font-family: "Prompt", sans-serif;
  margin-top: 100px;
}

.insights-footer-container .insights-copyright p {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 15px;
  color: #c5c5c5;
}

@media screen and (max-width: 768px) {
  .insights-main-wrapper {
    margin-top: -27vh;
  }
  .insights-header {
    width: 100%;
  }
  .insights-header h4 {
    display: block;
    margin-bottom: 20px;
    font-family: "Karla", "sans-serif";
    font-weight: 700;
    font-size: 17px;
    color: rgba(114, 114, 114, 1);
    text-align: center;
  }
  .insights-header h2 {
    font-size: 27px;
  }
  .insights-header p {
    font-size: 18px;
    width: 100%;
  }

  .insights-content {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    gap: 20px; /* Add gap between items */
  }

  .insights-item, .insights-item-two, .insights-item-three {
    max-width: 100%; /* Adjust the max-width for mobile */
  }
}
