@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes back-flip {
    0% {
      opacity: 0;
      transform: rotateX(0deg);
    }
    50% {
      opacity: 1;
      transform: rotateX(180deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(360deg);
    }
  }

  .security-header h4 {
    display: none;
  }
  
  .security-main-wrapper {
    background: linear-gradient(111deg, #0A0A0A 5.9%, #0A0A0A 97.91%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    min-height: 110vh;
    margin-top: -210px;
    overflow-y: hidden;
  }
  
  .security-header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 200px;
    animation: slide-up 1s ease-out forwards;
  }
  
  .security-header h2 {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 44px;
  }
  
  .security-header p {
    font-family: "Karla", sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin-top: 20px;
    width: 600px;
  }
  
  .security-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .line-image-wrapper {
    position: relative;
  }
  
  .line-image {
    height: 550px;
    animation: fade-in 1s;
  }
  
  .invisible-button {
    position: absolute;
    background: none;
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  button.invisible-button.button1 {
    top: -10px;
    left: 0px;
  }
  
  button.invisible-button.button2 {
    top: 210px;
    left: 0px;
  }
  
  button.invisible-button.button3 {
    top: 505px;
    left: 0px;
  }
  
  .content-section {
    margin-left: 50px;
    text-align: left;
  }
  
  .content-section h3 {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    color:#41C5D3;
    font-size: 23px;
    opacity: 0;
    animation: slide-up 0.5s ease-out forwards;
  }
  
  .content-section p {
    font-family: "Karla", sans-serif;
    font-weight: 300;
    font-size: 19px;
    margin-top: 10px;
    width: 370px;
    animation: slide-up 0.5s ease-out forwards;
  }
  
  .content-image {
    margin-top: 20px;
    width: 370px;
    animation: fade-in 2s ease-out;
  }
  
  .security-footer-container .security-copyright {
    margin-top: 100px;
    color: #c5c5c5;
    width: 100%;
    font-family: "Prompt", sans-serif;
  }
  
  
  .security-footer-container .security-copyright p {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    color: #c5c5c5;
  }

  @media screen and (max-width: 768px) {
    .security-main-wrapper {
      margin-top: -27vh;
    }
    .security-header {
      width: 100%;
    }
    .security-header h4 {
      display: block;
      margin-bottom: 20px;
      font-family: "Karla", "sans-serif";
      font-weight: 700;
      font-size: 17px;
      color: rgba(114, 114, 114, 1);
      text-align: center;
    }
    .security-header h2 {
      font-size: 27px;
    }
    .security-header p {
      font-size: 18px;
      width: 100%;
    }

    .content-image {
      margin-top: 20px;
      width: 270px;
      animation: fade-in 2s ease-out;
    }

    .content-section h3 {
      font-weight: 700;
      font-size: 16px;
      opacity: 0;
      animation: slide-up 0.5s ease-out forwards;
    }
    
    .content-section p {
      font-family: "Karla", sans-serif;
      font-weight: 300;
      font-size: 15px;
      margin-top: 10px;
      width: 270px;
      animation: slide-up 0.5s ease-out forwards;
    }

    .line-image{
      height: 400px;
    }

    button.invisible-button.button1 {
      top: -10px;
    }
    
    button.invisible-button.button2 {
      top: 165px;
    }
    
    button.invisible-button.button3 {
      top: 370px;
    }
    .security-footer-container .security-copyright p {
      font-size: 12px;
    }
  }